<!-- 
	Copyright 2022 VMware, Inc.
	SPDX-License-Identifier: Apache License 2.0
-->

<clr-modal [(clrModalOpen)]="isDeleteTest">
    <h3 class="modal-title">Confirm to delete test</h3>
    <div class="modal-body">
        <form class="clr-form clr-form-compact" #accessibilityForm="ngForm">
            <div  #divConfirmVmOperations>
                <label><b style="color:black">NOTE: "Delete" is NOT
                    undo-able! Are you sure to delete test?</b></label>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary "
            (click)="delete()">Ok</button>
        
    </div>
</clr-modal>