.radio-label{
    font-size: .95rem;
    font-weight: 100;
}
.clr-form-compact .clr-control-container.worker-start-urls{
    display: inline-block!important;
}
::ng-deep .testName{
    padding-left: 0!important;
}
.report-cell{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.report-action-bar{
    margin-top: 0;
}
.btn-group01{
    vertical-align: middle;
}