<!--
	Copyright 2022 VMware, Inc.
	SPDX-License-Identifier: Apache License 2.0
-->

<div class="home-container">
    <div class="clr-row">
        <!-- recording -->
        <div class="clr-col-lg-4 clr-col-sm-6 clr-col-12">
            <div class="card">
                <div class="card-header">
                    <table>
                        <tr>
                            <td align="left">
                                <clr-icon shape="recording" class="is-solid" size="48"></clr-icon>
                            </td>
                            <td>
                                <a class="nav-link" href="#" [routerLink]="['/recording']"
                                    routerLinkActive="active"><span class="nav-text">Recording</span></a>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="card-block card-height">
                    <ol class="list">
                        TAWA recording service enables users: 1> Record web UI test cases and generate script; 2> Parallel screenshots taking from multiple languages web UI.
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>